/* .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    justify-content: center;
    margin: 20px auto ;
  }
  
  button[type="submit"]:hover {
    background-color: var(--orange);
    color: white;
  }
   */