@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.2rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

section{
    padding: 2rem 3%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.btn:hover{
    background: var(--orange);
    color: #fff;
}


@media (max-width : 991px){

  html{
      font-size: 55%;
  }
  .header{
      padding: 2rem;
  }
  section{
      padding: 2rem;
  }
}

@media (max-width : 768px){

  #menu-btn{
      display: inline-block;
  }

  .header .search-form{
      width: 90%;
  }

  .header .navbar{
      position: absolute;
      top: 110%;
      right: -110%;
      width: 30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
  }

  .header .navbar.active{
      right: 2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
  }

}

@media (max-width : 450px){

  html{
      font-size: 50%;
  }
  .heading{
      font-size: 2.5rem;
  }
  .categories .box-container .box img{
      margin: 1rem 0;
      height: 15rem;
      width: 100%;
  }
  .categories .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
      gap: 1.5rem;
      width: 50%;
      margin-left: 7rem;
      text-align: center;
  }
  .footer{
      text-align: center;
  }

}